.first{
  padding-top: 38px;
  min-height: 100%;
  position: relative;

  .container{
    position: relative;
    z-index: 2;
  }
}

.first__main{
  display: flex;
  justify-content: space-between;

  @media(max-width: 850px){
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.first__title{
  font-family: 'Oxanium';
  font-weight: 700;
  font-size: 85px;
  line-height: 130px;

  span{
    color: $yellow;
  }

  @media(max-width: 1100px){
    font-size: 50px;
    line-height: 150%;
  }

  @media(max-width: 850px){
    text-align: center;
  }
  @media(max-width: 450px){
    margin: 5px;
  }

}

.first__btns{
  display: flex;
  align-items: center;
  grid-gap: 48px;
  margin: 75px 0 120px;

  @media(max-width: 900px){
    grid-gap: 15px;
    margin: 50px;
  }

  @media(max-width: 850px){
    justify-content: space-between;
    grid-gap: 20px;
  }


}

.first__btn,
.first__btn2{
  padding: 24px 76px;
  height: 84px;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;

  @media(max-width: 1100px){
    padding: 15px 45px;
  }

  @media(max-width: 900px){
    padding: 15px 25px;
  }

  @media(max-width: 850px){
    flex-basis: 48%;
  }

}

.first__btn{
  background: $yellow;
  
  color: $black;

  transition: all 0.3s;

  &:hover{
    color: $yellow;
    background: #000;
  }
}

.first__btn2{
  background: rgba(233, 215, 167, 0.1);

  color: $white;
  border: 1px solid $yellow;

  transition: all 0.3s;

  &:hover{
    color: #000;
    background: $yellow;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 206, 78, 0.35);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255, 206, 78, 0.35);
    box-shadow: 0px 0px 15px 5px rgba(255, 206, 78, 0.35);
  }
}

.first__numbers{
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--fake{
    display: none;
  }

  @media(max-width: 850px){
    display: none;

    &--fake{
      display: flex;
      margin-top: 70px;
    }
  }
}

.first__number{
  font-size: 24px;
  line-height: 35px;
  color: #9B9E9A;

  @media(max-width: 1100px){
    font-size: 20px;
  }

  p{
    font-weight: 700;
    font-size: 62px;
    line-height: 78px;
    color: $white;
    font-family: 'Oxanium';

    @media(max-width: 1100px){
      font-size: 40px;
    }
  }
}

.first-nft__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 35px;
  width: 90%;
  margin: 0 auto;
  background: linear-gradient(92.8deg, rgba(255, 137, 61, 0.09) -52.37%, rgba(250, 250, 250, 0.9) 137.41%);
  opacity: 0.95;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(22.5px);
}

.first__nft{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url('../img/nft-item.jpg');
  max-width: 550px;
  width: 100%;
  height: 720px;
  padding-top: 25px;

  @media (max-width: 1280px){
    margin-left: 20px;
  }

  @media(max-width: 1100px){
    height: 550px;
  }

  @media(max-width: 850px){
    margin-left: 0;
}
}

.nft-header__title{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  font-family: 'Oxanium';

  @media(max-width: 400px){
    font-size: 15px;
  }
}

.nft-header__numbers{
  font-family: 'Oxanium';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  @media(max-width: 400px){
    font-size: 20px;
  }
}

.first-nft__footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 50px;
  width: 100%;
  background: $white;
  border-radius: 0px;

  @media(max-width: 1100px){
    padding: 30px;
  }
}

.nft-footer__title{
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.07em;
  color: $black;
  font-family: 'Oxanium';
}

.nft-footer__nick{
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: $black;
}

.first-nft__btn{
  background: $yellow;
  backdrop-filter: blur(45px);
  padding: 23px 45px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: $black;

  transition: all 0.3s;

  &:hover{
    color: $yellow;
    background: #000;
  }

  @media(max-width: 400px){
    padding: 20px 30px;
  }
}

.first__item{
  max-width: 700px;
}

.first__arrow-btn{
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  background: rgba(109, 91, 114, 0.4);
  box-shadow: 0px 14px 79px rgba(134, 19, 165, 0.1);
  backdrop-filter: blur(40px);
  border-radius: 50%;
  width: 156px;
  height: 156px;

  img{
    width: 45px;
  }
}